script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))

if theme.highlight.enable
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js")
    script hljs.initHighlightingOnLoad();

include google_analytics